/* Ini File CSS */
* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    gap: 32px;
    padding: 32px;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}  

footer {
    text-align: center;
    width: 100%;
    margin-top: 22px;
    padding: 0.3rem;
    background: #111111;
    color: #f8f8f8;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.main-header {
    text-align: center;
    background-color: #111111;
    color: #f8f8f8;
    width: 100%;
    height: 50px;
    margin-bottom: 12px;
    padding: 0.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    width: 50%;
}


input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form {
    background-color:#bdbdbd;
    padding: 32px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

button {
    border: none;
    padding: 8px;
    color: antiquewhite;
}

.bg-black {
    background-color: #6a6a6a;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bg-cadet-blue {
    background-color: #6a6a6a;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.result-section {
    padding: 32px;
    text-align: center;
    background-color: #bdbdbd;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#result-bmi {
    font-size: xxx-large;
    font-family: math;
}
